<header class="border-bottom">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link px-2 link-secondary"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/play"
            routerLinkActive="active"
            class="nav-link px-2 link-body-emphasis"
            >Play</a
          >
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="dropdown text-end dduser">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            alt="mdo"
            width="38"
            height="38"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small">
          <li>
            <a
              class="dropdown-item"
              routerLink="account/login"
              routerLinkActive="active"
              >Accedi</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="account/register"
              routerLinkActive="active"
              >Registrati</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
